<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- permission -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <application
        android:name=".BurdaApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.BurdaContractor"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_burda" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_main" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />

        <activity
            android:name=".feature.perusahaan.presentation.create.AddPerusahaanActivity"
            android:exported="false" />
        <activity
            android:name=".feature.perusahaan.presentation.update.UpdatePerusahaanActivity"
            android:exported="false" />
        <activity
            android:name=".feature.perusahaan.presentation.detail.PerusahaanDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.gudang.presentation.create.AddGudangActivity"
            android:exported="false" />
        <activity
            android:name=".feature.gudang.presentation.update.UpdateGudangActivity"
            android:exported="false" />
        <activity
            android:name=".feature.gudang.presentation.detail.GudangDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.kendaraan.presentation.detail.KendaraanDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="KendaraanDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.kendaraan.presentation.pantau.PantauLokasiPengendaraActivity"
            android:exported="false" />
        <activity
            android:name=".feature.kendaraan.presentation.create.AddKendaraanActivity"
            android:exported="false" />
        <activity
            android:name=".feature.kendaraan.presentation.update.UpdateKendaraanActivity"
            android:exported="false" />
        <activity
            android:name=".feature.profile.presentation.SignatureActivity"
            android:exported="true" />
        <activity
            android:name=".feature.deliveryorder.presentation.main.DeliveryOrderActivity"
            android:exported="true" />
        <activity
            android:name=".feature.deliveryorder.presentation.detail.DeliveryOrderDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="DeliveryOrderDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.deliveryorder.presentation.print.DeliveryOrderCetakActivity"
            android:exported="true" />
        <activity
            android:name=".feature.deliveryorder.presentation.create.AddDeliveryOrderActivity"
            android:exported="false" />
        <activity
            android:name=".feature.deliveryorder.presentation.update.UpdateDeliveryOrderActivity"
            android:exported="false" />
        <activity
            android:name=".feature.deliveryorder.presentation.uploadphoto.UploadFotoBuktiDeliveryOrderActivity"
            android:exported="true" />
        <activity
            android:name=".feature.deliveryorder.presentation.location.PantauLokasiDeliveryOrderActivity"
            android:exported="true" />
        <activity
            android:name=".feature.deliveryorder.presentation.location.TelusuriLokasiDeliveryOrderActivity"
            android:exported="true" />
        <activity
            android:name=".feature.beranda.presentation.BerandaActivity"
            android:exported="true" />
        <activity
            android:name=".feature.kendaraan.presentation.main.KendaraanActivity"
            android:exported="true" />
        <activity
            android:name=".feature.gudang.presentation.main.GudangActivity"
            android:exported="true" />
        <activity
            android:name=".feature.perusahaan.presentation.main.PerusahaanActivity"
            android:exported="true" />

        <activity
            android:name=".feature.suratjalan.presentation.main.SuratJalanActivity"
            android:exported="true" />
        <activity
            android:name=".feature.suratjalan.presentation.detail.SuratJalanDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="SuratJalanDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.suratjalan.presentation.uploadphoto.UploadFotoBuktiSuratJalanActivity"
            android:exported="true" />
        <activity
            android:name=".feature.suratjalan.presentation.location.PantauLokasiSuratJalanActivity"
            android:exported="true" />
        <activity
            android:name=".feature.suratjalan.presentation.location.TelusuriLokasiSuratJalanActivity"
            android:exported="true" />
        <activity
            android:name=".feature.suratjalan.presentation.print.SuratJalanCetakActivity"
            android:exported="true" />
        <activity
            android:name=".feature.suratjalan.presentation.create.AddSuratJalanActivity"
            android:exported="true" />
        <activity
            android:name=".feature.suratjalan.presentation.update.UpdateSuratJalanActivity"
            android:exported="true" />

        <activity
            android:name=".feature.profile.presentation.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".feature.profile.presentation.UpdatePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".feature.profile.presentation.UpdateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".feature.profile.presentation.UploadPhotoActivity"
            android:exported="true" />
        <activity
            android:name=".feature.profile.presentation.users.UsersActivity"
            android:exported="true" />
        <activity
            android:name=".feature.profile.presentation.users.detail.UsersDetailActivity"
            android:exported="true" />
        <activity
            android:name=".feature.auth.presentation.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".core.presentation.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".core.service.fcm.BurdaFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".core.service.location.LocationService"
            android:foregroundServiceType="location" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>